<h2>Welcome to Stack OverEasy</h2>
<ul>
  <% @questions.each do |question| %>
      <div class='question-vote-count'><%=question.vote_count%> votes</div>

      <div><%=question.answers.length%> answers</div>
      <li><%= link_to question.title, question_path(question) %> By: <%=question.questioner.username%> at <%=question.created_at%></li>
  <% end %>
    </div>
</ul>
