<h2>Welcome to Stack OverEasy</h2>
<ul>
  <% @questions.each do |question| %>
      <div class='question-vote-count'><%=question.vote_count%> votes</div>

      <div><%=question.answers.length%> answers</div>
      <li><%= link_to question.title, question_path(question) %> By: <%=question.questioner.username%> at <%=question.created_at%></li>
  <% end %>
    </div>
</ul>


<h1 data-purpose="header">Restaurants</h1>
Sort: <%= link_to 'Name', restaurants_path %> |
<%= link_to 'Cuisine', restaurants_path({order: :cuisine}) %> |
<%= link_to 'Rating', restaurants_path({order: :rating}) %>

<ul id="restaurant-index">
  <%= render @restaurants %>
</ul>
