<div class="question-data">
  <h1><%= @question.title %>
  <h3><%= @question.questioner.username %></h3>
  <p><%= @question.content %><p>
  <div class="question-comments">
    <ul>
      <%@question_comments.each do |question_comment| %>
        <li><%= render partial: 'comments/comment', locals: {comment: question_comment} %></li>
      <% end %>
    </ul>
    <div><%=link_to 'comment on this question', new_comment_path%></div>
  </div>
</div>

<div class="answer-data">
  <h1>Answers</h1>
    <ul>
      <%@answers.each do |answer| %>
        <%= render partial: 'answers/answer', locals: {answer: answer, answer_comments: @answer_comments} %>
        <li><%=link_to 'comment on this answer', new_comment_path%></li>
      <% end %>
    </ul>
  </div>
</div>

<div id='answer-form'>
  <%= render partial: 'answers/form', locals: {question: @question, answer: @answer} %>
</div>
