<%= form_for comment do |f| %>
  <div>
    <%= hidden_field_tag 'comment[commentable_type]', commentable.class.name %>
    <%= hidden_field_tag 'comment[commentable_id]', commentable.id %>
    <%= f.label :content, "Your Comment" %>
    <%= f.text_area :content %>
  </div>
  <div>
    <%= f.submit %>
  </div>
<% end %>


