<div id="answer-<%= answer.id %>" class='answer'>
  <div class="answer-up-vote">
    <%= link_to image_tag("http://i.imgur.com/nFn8U6a.png", class: 'up-arrow'), answer_votes_path(answer) %>
  </div>
  <div class='answer-vote-count'><%=answer.vote_count%></div>
  <div class="answer-down-vote">
    <%= link_to image_tag("http://www.clker.com/cliparts/d/A/H/R/z/3/red-down-arrow-hi.png", class: 'down-arrow'), answer_votes_path(answer) %>
  </div>
  <li class="answer-list-item"><%= answer.content %> - <%= link_to answer.username, user_path(answer.responder) %> <%= std_format_date answer.created_at %>
    <ul>
      <% answer_comments = answer.comments %>
      <% answer_comments.each do |answer_comment| %>
        <%= render partial: 'comments/comment', locals: {comment: answer_comment} %>
      <% end %>
    </ul>
  </li>
</div>

