<!DOCTYPE html>
<html>
<head>
  <title>Stack OverEasy</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="container">
    <div id="header">
      <h1 id="header-title"><%= link_to 'Welcome to Stack OverEasy!', root_path%></a></h1>
      <nav>
          <%= link_to 'Home', root_path %>
          <% if current_user %>
            Welcome, <%= link_to current_user.username, user_path(current_user) %>
            <%= link_to 'Create Question', new_question_path %>
            <%= link_to 'Logout', session_path, method: :delete %>
          <% else %>
            <%= link_to 'Register', new_user_path%>
            <%= link_to 'Login', new_session_path%>
          <% end %>
      </nav>
    </div>
    <div id="wrapper">
      <%= yield %>
    </div>
    <footer>
    </footer>
  </div>
</body>
</html>
